@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --font-color: white;
    --background-primary: #333;
    --primary: #bd9100;
    --primary-hover: #bd91008f;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

html, body {
    background-color: var(--background-primary);
    overflow-x: hidden;
}

.first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.first h1 {
    font-weight: 900;
    font-size: 3em;
}

.first ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
}

.first ul li a {
    padding: 10px 15px;
    background-color: var(--primary);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.first ul li a:hover {
    background-color: var(--primary-hover);
}

.projects {
    background-color: var(--primary);
    width: 100vw;
}

.projects .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.projects .container h1 {
    font-weight: 900;
    font-size: 3em;
}

.projcts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.projcts .project {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projcts .project h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.projcts .project a {
    padding: 10px 15px;
    background-color: var(--primary);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.projcts .project a:hover {
    background-color: var(--primary-hover);
}

.features {
    width: 100vw;
}

.features .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.features .container h1 {
    font-weight: 900;
    font-size: 3em;
}

.shape-divider {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.shape-divider .shape-fill {
    fill: var(--primary);
}

.flip {
    transform: rotate(180deg);
}